[submodule "nanomq"]
	path = extern/nanomq
	url = https://github.com/emqx/nanomq
[submodule "quart"]
	path = extern/quart
	url = https://github.com/pallets/quart
[submodule "wiringOP"]
	path = extern/wiringOP
	url = https://github.com/orangepi-xunlong/wiringOP.git
[submodule "mqttc"]
	path = extern/paho.mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c.git
