<!DOCTYPE html>
<html>
    <body>
        <h2>WiFi SSID and Password</h2>
        <center> 
            <form action="/apis/network/set_wifi" method="POST">
                <label for="wifissid">WiFi SSID:</label><br>
                <input type="text" id="wifissid" name="wifissid"><br>
                <label for="password">WiFi Password:</label><br>
                <input type="text" id="password" name="password"><br><br>
                <input type="submit" value="Confirm">
            </form>
        </center>
    </body>
</html>
