[mysqld]
tls_version = TLSv1.2,TLSv1.3
secure-file-priv = NULL
character-set-server = utf8mb4
authentication-policy = mysql_native_password

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
